{% extends "base.html" %}

{% block content %}
<h1>DIL - компания по продаже камер для участка, подъезда, частной собственности.</h1><br>
<img class="img_img_img" src="{{ url_for('static', filename='img/7282497_original.jpg')}}">
<img class="img_img_img" src="{{ url_for('static', filename='img/Antivandal_nyj_monitor_dla_videonabludenia.jpg')}}"><br>
<h1>В наличии более 30 видов камер.><br>
Способы получения товара:<br>
    Доставка, самовывоз.</h1>
<img class="img_img" src="{{ url_for('static', filename='img/BvfYUfI99nk.jpg')}}">
{% endblock %}