{% extends "base.html" %}

{% block content %}
<h1>Сделать заказ</h1>
<form method="post">
    <input type="text" name="name" placeholder="ФИО" class="form-control"><br>
    <input type="text" name="name_zakaza" placeholder="Заказ" class="form-control"><br>
    <input type="text" name="email" placeholder="emali" class="form-control"><br>
    <input type="text" name="address" placeholder="address" class="form-control"><br>
    <button class="bnt btn-sucs" type="submit">Оформить</button>
</form>
<br><br>
<a class="btn btn-primary" href="/logout" role="button">Выйти из профиля</a>
{% if current_user.is_authenticated and current_user.name == '123' %}
<a class="btn btn-primary" href="/index" role="button">Новый товар</a>
<a class="btn btn-primary" href="/all" role="button">Заказы</a>
{% endif %}
{% endblock %}