{% extends "base.html" %}

{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<h1>Рады приветсвовать на сайте Digital Inteligence Line</h1>
<h5>Компания DiL

    предоставляет самый широкий спектр услуг, для юридических и физических лиц:


    <ul>Телефонные сети, мини-АТС и УПАТС>

        Компьютерные сети (СКС) любой сложности

        Монтаж систем Видео-наблюдения и контроля доступа

        Монтаж и ввод в эксплуатацию охранно-пожарной сигнализации.
    </ul>


    Мы оказываем содействие при подключении к Телефонной сети общего пользования,
    выделенным каналам Интернет и Организации распределённых корпоративных сетей.
    Сотрудничество с ведущими операторами Рязани («Центртелеком», «Сотком», «Дом.ру» и другими)
    позволяет нам рекомендовать наиболее выгодного оператора связи и тарифный план.

    У нас отличная служба технической поддержки, мы выезжаем к клиентам по первому требованию,
    настраиваем, решаем проблемы, помогаем и консультируем.

    Еще один важный плюс — это комплексное обслуживание клиентов.
    Мы предоставим практически все услуги, связанные с офисом: от доступа и телефонии
    до комплексной системы «УМНЫЙ ОФИС».

    DiL – Авторизованный установщик АТС NEC и Panasonic.
    Это - признание высочайшего качества услуг, предоставляемых компанией.
    Это - результат долгой работы и совершенствования нашего профессионализма.
    Если вы выбираете мини-АТС компании NEC, Panasonic, и её установка осуществляется специалистами из авторизованного
    сервисного центра, каким является группа компаний DiL, то гарантия на всё оборудование для мини-АТС и саму станцию
    составляет 3 года.

    Сотрудники DiL имеют большой опыт работы в области установки различного оборудования АТС Panasonic и NEC,
    систем Видеонаблюдения SSDCAM, Hikvision, Hiwatch, Smartec, RVI, Охраннопожарной сигнализации, а также систем
    контроля доступа Ironlogic, Parsec и др.
    Наши специалисты устанавливают системы не только в Рязани и Рязанской области, но и в других регионах.

    Наши клиенты - представители всех отраслей бизнеса, государственные предприятия.

    Качество и надежность на всех этапах - от настройки и монтажа до сервисного обслуживания и ремонта.
    Это и цель, и средство DiL.

    Качество и надежность - это те параметры, по которым Вы принимаете решение о сотрудничестве.

    Позвоните нам, и наши менеджеры понятно и подробно ответят на любые ваши вопросы.
</h5>
</body>
{% endblock %}
