{% extends "base.html" %}

{% block content %}
<h1> г.Рязань, Южный промузел д.10 оф. 208<br>

    тел.: (4912) 95-37-29 <br>
    факс:(4912) 30-04-65<br>
    e-mail: dil-rzn@yandex.ru</h1>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Быстрый старт. Размещение интерактивной карты на странице</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
        let center = [54.57839532629038, 39.74579124106082];

        function init() {
            let map = new ymaps.Map('map', {
                center: center,
                zoom: 13
            });

            let placemark = new ymaps.Placemark([54.57839532629038, 39.74579124106082], {}, {});

            map.controls.remove('geolocationControl'); // удаляем геолокацию
            map.controls.remove('searchControl'); // удаляем поиск
            map.controls.remove('trafficControl'); // удаляем контроль трафика
            map.controls.remove('typeSelector'); // удаляем тип
            map.controls.remove('fullscreenControl'); // удаляем кнопку перехода в полноэкранный режим
            // map.controls.remove('zoomControl'); // удаляем контрол зуммирования
            map.controls.remove('rulerControl'); // удаляем контрол правил
            map.controls.remove('gototech');
            // map.behaviors.disable(['scrollZoom']); // отключаем скролл карты (опционально)

            map.geoObjects.add(placemark);
        }

        ymaps.ready(init);

    </script>
</head>

<body>
<div id="map" style="width: 600px; height: 400px"></div>
</body>
{% endblock %}
